{% extends 'dashboard/base.html' %}

{% block main %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style type="text/css">

        .para{
                font-size: 20px;
                line-height: 20px;
             }


            
</style>      
<div>
    <h1 style="color:chocolate; font-size: 60px;"><center>About Us
</center></h1>

    
<p align="right" style="text-align: justify;">This is our hostel room booking system which will help students all over 
    our country for booking rooms easily from anywhere. We provide best services at affordable price. We have wonderful
    and friendly staff who manages the hostel and help solving student's problems. We provide comfortable beds, hygenic
    food and best environment for student's satisfaction<br>

<h1 style="color:black;font-size: 30px;">
        Contact Us
</h1><br>
<div class="para">
<p>Find us at: Baneshwor </p><br>
<p>Call us at: 01-986463667</p><br>
<p>Email us at: test@gmail.com</p><br>
</div>

<h1 style="color: black;font-size: 30px;">
Visiting Hour:
</h1>  

<p style="font-size:20px">Sunday-Friday</p>
 <p style="font-size:20px;">9am to 8pm</p>
<br>

<center><i class="fa fa-facebook-square" style="font-size:48px; color: blue;"></i>
    <i class="fa fa-instagram" style="font-size:48px; background: linear-gradient(45DEG,#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D);"></i>
    <i class="fa fa-twitter" style="font-size:48px; color: #00acee"></i>
    </center>

</div>
 {% endblock main %}
 
 {% block script %}

 {% endblock script %}